.titleContainer {
    color: var(--link-colour);
    padding: 20px;
}


.link {
    font-weight: 700;
    color: var(--link-colour);
    &:hover {
        background-color: var(--accent-colour);
    }
    display: flex;
    justify-content: space-between;
}

.comment{
    color: blue;
    background-color: aliceblue;
    width: 100%;
    padding: 5px;

}

.commentName{
    color: black;
    text-align: right;
}

.formStyle{
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: white;
    padding: 10px;
}

.commentSection{
    width: 100%;
    margin-top: 15px;
    
}

